* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('ny.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}


button {
    background-color: rgb(255, 255, 255);
    color:  rgb(138, 191, 112);
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 650;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    top: 20%;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
}
button:hover {
    background-color: rgb(138, 191, 112);
    border-color: rgb(138, 191, 112);
    padding: 20px;
    cursor: pointer;
    color: white;
}

.duck {
    top: 30%;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    width: 150px;
    height: 150px;
    transition: all 1s;
  
}

.cursor{
    position: absolute;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.flower {
  position: absolute;
  width: 140px;
  height:140px;
}



.cursor{z-index:3;}
.flower{z-index:-2;}
.duck{z-index:1;}